[submodule "excellentexport"]
	path = excellentexport
	url = git@github.com:jmaister/excellentexport.git
[submodule "thirdparty/base64.coffee"]
	path = thirdparty/base64.coffee
	url = git@github.com:rwz/base64.coffee.git
[submodule "thirdparty/flot"]
	path = thirdparty/flot
	url = git@github.com:flot/flot.git
[submodule "thirdparty/html2canvas"]
	path = thirdparty/html2canvas
	url = git@github.com:niklasvh/html2canvas.git
